.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
  }

.event {
    background-color: #ffcccc !important;
  }
  .reminder {
    background-color: #ccffcc !important;
  }
  